.progressSection {
  background-color: #80c6af;
  height: 26vh;
  display: flex;
  justify-content: center;
}

.container {
  margin: 0;
  /* padding: 1rem 0; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.content {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.stepInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  color: white;
  font-weight: lighter;
  /* margin: 0 20px 0 20px; */
}

.progressbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: black;
  /* margin: 0 20px 0 20px; */
}

.progressbar::before {
  content: "";
  position: absolute;
  background-color: #e0e0e0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  height: 4px;
  width: 100%;
  z-index: 1;
  transition: 0.4s ease;
  /* margin: 0 20px 0 20px; */
}

.progress {
  position: absolute;
  background-color: #419b9a;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  height: 4px;
  width: 50%;
  z-index: 1;
  transition: 0.4s ease;
  /* margin: 0 20px 0 20px; */
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
  z-index: 2;
}

.circle.active {
  border-color: #419b9a;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  padding: 5px;
  width: 80px;
  font-weight: bold;
  background-color: #419b9a;
  outline-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  border: 0;
  margin: 5px;
  border-radius: 5px;
}

.btn.active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.contentWrapper {
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #419b9a;
  height: 40px;
  border-radius: 5px;
  font-size: smaller;
}
