.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.content {
  align-items: center;
  width: 400px;
}

.progressbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: black;
}

.progressbar::before {
  content: "";
  position: absolute;
  background-color: #e0e0e0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
}

.progress {
  position: absolute;
  background-color: #3498db;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  height: 4px;
  width: 50%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}

.circle.active {
  border-color: #3498db;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn {
  padding: 5px 20px;
  font-weight: bold;
  background-color: green;
  outline-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  border: 0;
  margin: 5px;
  border-radius: 5px;
}

.btn.active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: #999;
  cursor: not-allowed;
}
